
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
 width:100%;
    min-height:100vh;
  background-color: #ffffff;
  color: #000;
}

body.dark {
  background-color: #0c1014;
  color: #ffffff;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 1;
  padding: 20px 20px;
  background-color: #ffffff;
}

body.dark aside {
  background-color: #0c1014;
}

aside:hover {
  width: 220px;
}

.logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.logo a {
  display: none;
  text-decoration: none;
  color: black;
}

body.dark .logo a {
  color: white;
}

.logo svg {
  fill: black;
}

body.dark .logo svg {
  fill: white;
}

.logo:hover {
  background-color: #0000001e;
}

body.dark .logo:hover {
  background-color: #ffffff1e;
}

aside:hover .logo a {
  display: block;
  margin-left: 10px;
}

.linksRolls {
  width: 100%;
}

.linksRolls ul {
  width: 100%;
}


.linksRolls li {
  width: 28%;
  height: 50px;
  background-color: transparent;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

aside:hover .linksRolls li {
  width: 100%;
}

.linksRolls li:hover {
  background-color: #0000001e;
}

body.dark .linksRolls li:hover {
  background-color: #ffffff1e;
}

li a {
  font-size: 15px;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;

}

body.dark li a {
  color: white;
}

body.dark .elUl svg {
  fill: white;
}

body.dark .elUl span {
  color: white;
}

.linksRolls svg {
  min-width: 24px;
  fill: black;
}

body.dark .linksRolls svg {
  fill: white;
}

.linksRolls span {
  opacity: 0;
  margin-left: 10px;
  transform: translateX(-10px);
  transition: all 0.3s ease;
  white-space: nowrap;
  color: black;
}

body.dark .linksRolls span {
  color: white;
}

aside:hover .linksRolls span {
  opacity: 1;
  transform: translateX(0);
}

.btnMore {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
}

body.dark .btnMore svg,
body.dark .btnMore span,
body.dark .btnMore a {
  fill: white;
  color: white;
}

body:not(.dark) .btnMore svg,
body:not(.dark) .btnMore span,
body:not(.dark) .btnMore a {
  fill: black;
  color: black;
}

.btnMore:hover {
  background-color: #0000001e;
}

body.dark .btnMore {
  background-color: #0c1014;
}

body.dark .btnMore:hover {
  background-color: #ffffff1e;
}

i {
  color: black;
}

body.dark i {
  color: white;
}