* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*:root {
  --preto: #0a1317;
  --cinza: #65676b;
  --cinzaClaro: #bcc0c4;
  --branco: #ffffff;
  --azulClaro: #99c1f3;
  --azulEscuro: #0064e0;
}

body {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
.allForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  flex: 1;
}

.backpage {
  display: flex;
  align-items: center;
}

.backpage a {
  text-decoration: none;
}

.backpage i {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cinzaClaro);
  margin-right: 10px;
}

.backpage i:hover {
  color: white;
  background-color: var(--cinzaClaro);
}

.backpage a:hover {
  text-decoration: none;
}

.allForm h1 {
  font-size: 24px;
  color: var(--preto);
  font-weight: 600;
  margin-bottom: 30px;
}

.allForm form {
  margin: 0 50px;
}

form label,
input {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 17px;
  color: var(--preto);
  font-weight: 600;
}

li {
  list-style: none;
}

li input[type="text"],
input[type="password"] {
  width: 100%;
  max-width: 500px;
  height: 60px;
  border: 1px solid var(--cinza);
  border-radius: 20px;
  outline: none;
  padding: 20px;
  margin: 10px 0px;
}

li input[type="text"]:hover,
input[type="password"]:hover {
  outline: 1px solid var(--azulEscuro);
}

li p {
  width: 100%;
  max-width: 500px;
  height: auto;
  font-size: 15px;
  margin-bottom: 10px;
}

li a {
  font-size: 15px;
  color: var(--azulEscuro);
  text-decoration: none;
  font-weight: 600;
}

li a:hover {
  text-decoration: underline;
}

li input[type="submit"] {
  width: 100%;
  max-width: 500px;
  height: 40px;
  border: 1px solid;
  border-radius: 50px;
  margin-top: 15px;
  border: 1px solid var(--azulEscuro);
  background-color: var(--azulEscuro);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.exclamation,
.exclamation2,
.exclamation3 {
  display: none;
  margin:20px 0 ;
  color: #d31130;
}
