* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  height: auto;
}

*:root {
  --preto: #0a1317;
  --cinza: #65676b;
  --cinzaClaro: #bcc0c4;
  --branco: #ffffff;
  --azulClaro: #99c1f3;
  --azulEscuro: #0064e0;
}

