* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  height: auto;
}

*:root {
  --preto: #0a1317;
  --cinza: #65676b;
  --cinzaClaro: #bcc0c4;
  --branco: #ffffff;
  --azulClaro: #99c1f3;
  --azulEscuro: #0064e0;
}

body {
  width: 100%;

  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageHome {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.story img {
  width: 150px;
  height: auto;
  cursor: pointer;
}

.topPost {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 15px;
}

.topPost img {
  width: 40px;
}

.topPost a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.topPost span {
  color: black;
  font-weight: bolder;
  padding-left: 10px;
  cursor: pointer;
}

.middle img {
  width: 450px;
  border-radius: 10px;
  margin: 15px 15px;
}

body.dark .topPost span {
  color: white;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 15px;
}

.like,
.comment,
.share,
.sendMenssage {
  padding-right: 10px;
  cursor: pointer;
  
}



.bottom svg {
  fill: black;
  
}

body.dark .bottom svg{
  fill: white;
}

.liked path {
  fill: red;
}

