* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*:root {
  --preto: #0a1317;
  --cinza: #65676b;
  --cinzaClaro: #bcc0c4;
  --branco: #ffffff;
  --azulClaro: #99c1f3;
  --azulEscuro: #0064e0;
    --modoDark: #0c1014;
  --borderBlack: #363636;
}

.pageHome {

  position: absolute;
  padding-left: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  padding-left: 80px;
  
}

.storys {
  margin-top: 20px;
  margin-left: 80px;
  width: 550px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;

}

.storys img {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  cursor: pointer;
}

.storys p {
  color: var(--cinza);
  font-weight: bolder;
  font-size: 12px;
  cursor: pointer;
}

body.dark p {
  color: var(--branco);

}

.pagePost {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.me {
  width: 85px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.myself {
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
}

.myself img {
  width: 35px;
  height: 32px;
  border-radius: 50px;

}

.myself p {
  color: var(--preto);
  padding-left: 10px;
}

body.dark .myself p {
  color: white;
}

.postPhoto img{
  width: 500px;
  height: auto;
border-radius: 5px;
}

.buttonsReaction ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.buttonsReaction li {
  display: inline-flex;
padding: 0px 2.5px;
}

.buttonsReaction span {
  color: var(--preto);
  padding: 0px 2.5px;
}

body.dark .buttonsReaction span {
  color: white;
}

.buttonsReaction {
  fill: var(--preto);
  color: var(--preto);
  cursor: pointer;
}

.btnLike path {
  fill: #0a1317;
  transition: .2s;
}

.btnLike path.liked {
  fill: red;
}

body.dark .btnLike path {
  fill: white;
}

body.dark .btnLike path.liked {
  fill: red;
}

body.dark .buttonsReaction {
  fill: white;
  color: white;
}

.modal-header-user {
  width: 319px;
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0 20px;
 
}

.modal-header-user img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.modal-header-user p {
  font-weight: 600;
  font-size: 14px;
  padding-left: 15px;
}

.modal-header-user button {
  margin-left: auto;
  border: none;
  background-color: white;
  color: var(--azulEscuro);
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

body.dark .modal-header-user button {
  background-color: var(--modoDark);
}

.modal-header-user a{
  text-decoration: none;
  color: var(--azulEscuro);
}

.middle {
  margin: 20px 10px 10px 10px;
}

.middle span {
  color: var(--cinza);
font-weight: 700;
}

body.dark .middle span {
  color: white;
}

.rigth {
padding-top: 50px;
}