* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.modalCreate {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  background-color: #00000041;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.create {
  width: 360px;
  height: 206px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
}

body.dark .create {
  background-color: #0c1014;
}

.exitbtn {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
}

.exitBtnExit {
  cursor: pointer;
  color: black;
}

body.dark .exitBtnExit span {
  color: white;
}

.btnPost {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btnPost button {
  margin-top: 10px;
  width: 150px;
  height: 25px;
  background-color: #0064e0;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

body.dark .btnPost svg {
  fill: white;
}
