.ModalExit{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.35);
    backdrop-filter: blur(6px);

    display:none;
    justify-content:center;
    align-items:center;

    animation: fade .25s ease;
    z-index:999;
}

.modalBox{

    width:300px;
    background:rgba(255,255,255,.92);

    backdrop-filter:blur(15px);

    border-radius:22px;

    box-shadow:
    0 20px 60px rgba(0,0,0,.18);

    overflow:hidden;

    position:relative;

    animation: popup .25s ease;
}

.closeModal{

    position:absolute;
    top:12px;
    right:14px;

    border:none;
    background:none;

    font-size:24px;

    color:#777;

    cursor:pointer;

    transition:.25s;
}

.closeModal:hover{
    color:#000;
    transform:rotate(90deg);
}

.modalBox ul{
    list-style:none;
    margin:0;
    padding:20px 0 10px;
}

.modalBox li{

    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;

    height:58px;

    cursor:pointer;

    font-size:17px;

    transition:.25s;
}

.modalBox li:hover{
    background:#f5f5f5;
}

.logout{
    color:#ed4956;
    font-weight:600;
    border-bottom:1px solid #ececec;
}

.logout:hover{
    background:#fff2f3;
}

.switchTheme svg{
    color:#444;
}

.switchTheme span{
    color:#262626;
}

.themeIcon{
    width: 18px;
    height: 18px;
    background: url("../IMAGE/moon.icon.svg") center/contain no-repeat;
}

body.dark .themeIcon{
    background-image: url("../IMAGE/sun.icon.svg");
}


@keyframes popup{

    from{
        opacity:0;
        transform:scale(.85);
    }

    to{
        opacity:1;
        transform:scale(1);
    }

}

@keyframes fade{

    from{
        opacity:0;
    }

    to{
        opacity:1;
    }

}