* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  height: 100%;
}


.commentModal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  background-color: #00000041;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

