* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --preto: #0a1317;
  --cinza: #65676b;
  --cinzaClaro: #dbdbdb;
  --branco: #fff;
  --azulEscuro: #0095f6;
}

body {
  min-height: 100vh;
}

ul {
  list-style: none;
}

.modalcomments {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .65);

  display: none;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.allpost {
  width: 95%;
  max-width: 1100px;
  height: 90vh;

  background: white;
  border-radius: 6px;
  overflow: hidden;

  display: flex;
}



.postLeft {
  width: 55%;
  background: black;
}

.postPhotoModal {
  width: 100%;
  height: 100%;
}

.postPhotoModal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.commentsPost {
  width: 45%;

  display: flex;
  flex-direction: column;
}

.myself {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 20px;
  border-bottom: 1px solid var(--cinzaClaro);
}

.exitt {
    margin-left: auto;
  display: flex;
}

.exitt span {
  cursor: pointer;
  font-size: 30px;
}

.myself img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.myself p {
  font-weight: 600;
  font-size: 14px;
}

.commentsPerson {
  flex: 1;

  overflow-y: auto;

  padding: 15px 20px;
}

.comments {
  height: 55px;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 0 20px;

  border-top: 1px solid var(--cinzaClaro);
}

.comments svg {
  cursor: pointer;
}

.comments input[type="text"] {
  flex: 1;

  height: 100%;

  border: none;
  outline: none;

  font-size: 14px;
}

.comments input[type="submit"] {
  border: none;
  background: transparent;

  color: var(--azulEscuro);
  font-weight: bold;

  cursor: pointer;
}

.comments input[type="submit"]:hover {
  opacity: .7;
}

body.dark .allpost {
  background: #121212;
}

body.dark .myself,
body.dark .comments {
  border-color: #2d2d2d;
}

body.dark .myself p,
body.dark .comments input {
  color: white;
}

body.dark .comments input[type="text"] {
  background: transparent;
}

.comments svg {
  cursor: pointer;
}

.person {
  height: 70px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.person img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.person p {
  font-weight: 600;
  font-size: 14px;
}

.comentarios li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.commentPErson span {
  margin: 0px 15px;
}

#popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.hidden {
  display: none !important;
}


.box {
  width: 260px;
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #000;
}

.box p {
  margin: 0;
  padding: 22px 16px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #e9e9e9;
}

.box button {
  width: 100%;
  padding: 14px;
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

#yes {
  color: #ff3b30;
  font-weight: 600;
  border-bottom: 1px solid #e9e9e9;
}

#no {
  color: #000;
}

body.dark .box {
  background: #1c1c1e;
  color: #fff;
}

body.dark .box p {
  border-bottom: 1px solid #2c2c2e;
}

body.dark #yes {
  border-bottom: 1px solid #2c2c2e;
}

body.dark #no {
  color: #fff;
}

#emptyPopup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.hidden {
  display: none !important;
}

/* LIGHT */
.alert-box {
  width: 260px;
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #000;
}

.alert-box p {
  margin: 0;
  padding: 22px 16px;
  font-size: 15px;
  border-bottom: 1px solid #e9e9e9;
}

.alert-box button {
  width: 100%;
  padding: 14px;
  border: none;
  background: transparent;
  color: #0095f6;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* DARK */
body.dark .alert-box {
  background: #1c1c1e;
  color: #fff;
}

body.dark .alert-box p {
  border-bottom: 1px solid #2c2c2e;
}

body.dark .alert-box button {
  color: #4da3ff;
}