* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --preto: #0a1317;
  --cinza: #65676b;
  --cinzaClaro: #bcc0c4;
  --branco: #ffffff;
  --azulClaro: #99c1f3;
  --azulEscuro: #0064e0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.allPageProInput {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: 0;
}

.allPropaganda {
  width: 67%;
  height: 100%;
  border: 1px solid var(--cinzaClaro);
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.icone img {
  width: 100%;
  max-width: 80px;
  margin-top: 40px;
  margin-left: 40px;
  display: block;

}

abbr {
  font-size: clamp(28px, 5vw, 47px);
  font-weight: 400;

  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.allPropaganda h1 {
  font-size: clamp(28px, 5vw, 47px);
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}

.Imagejs {
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
}

.Imagejs img {
  width: 100%;
  height: auto;
    
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.allinputLogin {
  width: 43%;
  height: 100%;
  border: 1px solid var(--cinzaClaro);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.spamDiv {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.spamDiv span {
  font-size: 17px;
  color: var(--preto);
  font-weight: 600;
}

.fomrdiv {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

form ul{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

form {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

li input {
  width: 100%;
  margin-bottom: 15px;
}

li input[type="text"],
li input[type="password"] {
  border: 1px solid var(--cinzaClaro);
  border-radius: 20px;
  outline: none;
  height: 60px;
  padding: 20px;
}

li input[type="text"]:hover,
li input[type="password"]:hover {
  outline: 1px solid var(--azulEscuro);
}

li input[type="submit"] {
  border: none;
  border-radius: 50px;
  background-color: #0064e0;
  color: white;
  height: 44px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
}

li a {
  font-size: 15px;
  color: var(--preto);
  font-weight: bolder;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fomrdiv button {
  width: 100%;
  height: 44px;
  border: 1px solid var(--azulEscuro);
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
  margin-top: 50px;
}

.fomrdiv button a {
  text-decoration: none;
  color: var(--azulEscuro);
  font-size: 15px;
  font-weight: 300;
}

.fomrdiv img {
  width: 100%;
  height: auto;
  max-width: 80px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

footer ul {
  display: flex;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer li {
  margin: 0;
  padding: 0;
  width: auto;
  height: 20px;
  margin: 10px;
  list-style: none;
}

footer a {
  color: var(--cinza);
  font-size: 12px;
  text-decoration: none;
  font-weight: 300;
}

@media (max-width: 1000px) {
  .allPageProInput {
    flex-direction: column;
  }

  .allPropaganda {
    border: none;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .icone img {
    margin: 0;
    padding: 0;
  }

  .center {
    display: none;
  }

  .allinputLogin {
    width: 100%;
    border: none;
  }

  .spamDiv {
    width: 80%;
  }
  .fomrdiv {
    width: 80%;
  }
}
