* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

*:root {
  --preto: #0a1317;
  --cinza: #65676b;
  --cinzaClaro: #bcc0c4;
  --branco: #ffffff;
  --azulClaro: #99c1f3;
  --azulEscuro: #0064e0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.allPageProInput {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: 0;
}

.allPropaganda {
  width: 67%;
  height: 100%;
  border: 1px solid var(--cinzaClaro);
}

.allPropaganda {
  width: 100%;
  max-width: 1005.59;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.icone img {
  width: 80px;
  margin-top: 40px;
  margin-left: 40px;
  display: block;
}

abbr {
  font-size: 47px;
  font-weight: 400;

  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.allPropaganda h1 {
  font-size: 47px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}

img.storys {
  width: 550px;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.allinputLogin {
  width: 43%;
  height: 100%;
  border: 1px solid var(--cinzaClaro);
   display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.allinputLogin span {
  font-size: 17px;
  color: var(--preto);
  font-weight: 600;
  margin-bottom: 26px;
}

.allinputLogin form {
  width: 100%;
  height: auto;
 

}

.allinputLogin input {
  width: 90%;
  height: 40px;
}

.allinputLogin ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.allinputLogin input[type="email"],
input[type="password"] {
  background-color: #ffffff00;
  color: var(--cinza);
  padding: 10px 16px;
  border: 1px solid var(--cinzaClaro);
  border-radius: 20px;
  margin-bottom: 12px;
  outline: none;
}

.allinputLogin input:hover {
      outline: 1px solid var(--azulEscuro);
}

footer {
  width: 100%;
  height: 150px;
}
